@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Inconsolata&family=Nixie+One&display=swap');
/*---- General Styling ----*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, #c33764, #c7367a, #c53b93, #bd44ad, #ae51c7, #9a53c9, #8454ca, #6c55ca, #5749b3, #443d9d, #303187, #1d2671);
    font-family: 'Inconsolata', monospace;
    
}


/*---- Navigation Bar ----*/

.navbar {
    background-image: linear-gradient(to bottom, #c33764, #c7367a, #c53b93, #bd44ad);
    padding: 0;
    opacity: 0.9;
}

.custom-nav {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 130%;
    font-weight: 750;
    font-family: 'Nixie One', cursive;
    
}

.nav-link {
    color: #111c79;
    position: relative;
    display: block;
    
    transition: 0.9s;
}

/* .show {
    
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.02);
    
} */

/*---- Footer ----*/

footer {
    margin-top: 20px !important;
}

.social-links {
    
    font-size : 150%;
    margin-top: 0.1em;
    padding: 0;
    margin-bottom: 0;
}

.social-links > li > a {

    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #443d9d;
    text-align: center;
    border-radius: 30%;
    transition: 0.9s;

}

.social-links > li > a::before { 

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30%;
    background: #c33764;
    transition: 0.5s;
    transform: scale(.9);
    z-index: -1;
}

.social-links > li > a:hover:before { 

    transform: scale(1.1);
    box-shadow: 0 0 15px #bd44ad;

}

.social-links > li > a:hover {

    color: #bd44ad;
    box-shadow: 0 0 5px #bd44ad;
    text-shadow: 0 0 5px #bd44ad;

}

.contact-details {
    
    float: right;
    font-size : 100%;
    margin-top: 0.7em;
    padding: 0;
    margin-bottom: 0;
}

.contact-details > li > p, .social-links > li > a  {
    color: #d0b3b3;
    
}

.author > p  {
    color: rgb(119, 132, 144);
    border-top: 1px solid rgb(119, 132, 144);;
}

/* ---- index page---- */

.carousel-item {
    height: 100vh;
}

.carousel-cover {
    position: absolute;
    top: 55%;
    right: 7%;
    width: 40vh;
    height: 30vh;
    background-color: rgba(255, 255, 255, 0.33);
    z-index: 2;
    text-align: center;
    
}

.carousel-cover > h1 {
    margin-top: 15px;
    font-family: 'Homemade Apple', cursive;
    color: #111c79;
    border-radius: 50%;
    border-bottom: 1px solid #111c79;
}

.carousel-cover > p {
    font-family: 'Homemade Apple', cursive;
    font-size: 150%;
    color: #111c79;
}

.carousel-img {
    height: 100vh;
}

@media screen and (max-width : 450px){
    .carousel-cover > p {

        font-size: 100%;
    }
}

.explore-btn {
    /* border: 1px solid #111c79;; */
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.3);
}

.welcome-box{
    
    margin-top: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.33);
}

.welcome-img-box {
    background-color: rgba(255, 255, 255, 0.33);
    overflow: hidden;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    position: absolute;
}

.welcome-img {
    margin: 0;
    /* top: 50%;
    left: 50%;
    transform: translate(-30%, -25%) scale(0.5); */
}