{% extends "base.html" %}
{% load static %}
{% block aboutUs %}active{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center mt-4 font-blue">Something about Us</h1>
    <div class="row g-0 mt-5">
        <div class="col-md-6 text-start fs-4 mt-5">
            <p class="font-pink">Through our travels, we've gained a 
                wealth of knowledge and experience 
                that we're excited to share with you through 
                our blog. Our goal is to inspire and empower you to
                 travel more, discover new destinations, and create 
                 unforgettable memories.</p>
        </div>
        <div class="col-md-6" style="box-shadow: 0 0 40px;">
            <img src="https://res.cloudinary.com/doh67artq/image/upload/v1677882996/static/carousel-image/person-back_rj5wjv.jpg" style="width:100%; height:100%;">
        </div>
    </div>
    <div class="row g-0 mt-1 mb-4">
        <div class="col-md-6" style="box-shadow: 0 0 40px;">
            <img src="https://res.cloudinary.com/doh67artq/image/upload/v1677884179/static/carousel-image/person-back2_fyzq4e.jpg" style="width:100%; height:100%;">
        </div>
        <div class="col-md-6 text-end fs-4 mt-5">
            <p class="font-pink">On our blog, you'll find travel guides, tips,
             and stories from our own experiences. Whether you're a seasoned traveler or
              just starting out, we hope our blog will be a valuable resource for you.

            Thank you for joining us on this journey. We can't wait to share our adventures with you!
        </p>
        </div>
        

    </div>
</div>
{% endblock %}