<!-- Extend base template and load static files -->
{% extends "base.html" %}
{% load static %}
<!-- Set active class link in the navbar -->
{% block blog %}active{% endblock %}
{% block content %}
<!-- Load crispy forms -->
{% load crispy_forms_tags %}
<!-- Container to display the post detail -->
<div class="container-fluid mt-5 mb-4 g-0">
   <div class="row g-0 text-center">
      <h2>{{ post.title }}</h2>
   </div>
   <div class="row g-0 mb-3 text-center">
      <!-- Display the author, date created, category, number of likes, number of comments of the post-->
      <h5 style="font-size: 0.85em;" class="p-3">
         {{ post.author }} | {{ post.created_on }} | {{ post.category }} | <i class="fas fa-heart"></i> {{ post.number_of_likes }} | <i class="fa-regular fa-comment"></i> {{ post.comment_count }}
         <!-- Display links to update or delete the post if the user is its author or superuser -->
         {% if request.user == post.author or request.user.is_superuser %} | 
         <a class="font-blue" href="{% url 'update_post' post.slug %}">(Update)</a>
         <a class="font-blue" href="{% url 'delete_post' post.slug %}"> (Delete)</a>
         {% endif %}
      </h5>
   </div>
   <div class="box">
      <div class="row g-0 mb-3 p-3">
         <!-- Display featured image of post, or default one if dont have any -->
         {% if "placeholder" in post.featured_image.url %}
         <img src="https://c.pxhere.com/photos/3f/47/travel_journal_camera_map_notebook-120138.jpg!d" srcset="https://c.pxhere.com/photos/3f/47/travel_journal_camera_map_notebook-120138.jpg!d" alt="notebook, camera, travel" style="width:100%; height:100%;">
         {% else %}
         <img src="{{ post.featured_image.url }}" style="width:100%; height:100%;">
         {% endif %}
      </div>
      <div class="row g-0">
         <div class="container text-center post-body">
            <p>{{ post.content | safe }} </p>
         </div>
         <!-- Display like or unlike button for authenticated users -->
         {% if user.is_authenticated %}
         <div class="row g-0">
            <form action="{% url 'blog_likes' post.slug %}" method="POST" class="ms-4 mt-5">
               {% csrf_token %}
               {% if liked %}
               <button type="submit" name="post_id" value="{{ post.slug }}" class="btn btn-secondary rounded-pill"><i class="fas fa-heart"></i> Unlike</button>
               {% else %}
               <button type="submit" name="post_id" value="{{ post.slug }}" class="btn btn-secondary rounded-pill"><i class="far fa-heart"></i> Like</button>
               {% endif %}
            </form>
         </div>
         {% endif %}
         <!-- Comments section -->
         <div class="containter m-4">
            <div class="row g-0">
               <h1 class="me-1 font-pink">Comments</h1>
            </div>
            <!-- Loop and show every approved comment -->
            {% for comment in comments %}
            <div class="row g-0 mt-3 p-2 comments">
               <p>{{ comment.name }} | {{ comment.created_on }}</p>
               <hr>
               <p>{{ comment.body | linebreaks }}</p>
            </div>
            {% endfor %}
            <!-- After commented show message awaiting approval -->
            {% if commented %}
            <div class="alert alert-success" role="alert" style="width: fit-content; margin: 25px auto;">
               Your comment is awaiting for approval
            </div>
            {% else %}
            <div class="row g-0 mt-5">
               <!-- Display add comment form if user authenticated-->
               {% if user.is_authenticated %}
               <h3 style="color: #FFF">Leave a comment:</h3>
               <p>Posting as: {{ user.username }}</p>
               <form method="post" class="comment-form">
                  {{ comment_form | crispy }}
                  {% csrf_token %}
                  <button type="submit" class="btn btn-secondary rounded-pill mt-3 float-end">Submit</button>
               </form>
               {% endif %}
               {% endif %}
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
