<!-- Extending from base template and load static files-->
{% extends "base.html" %}
{% load static %}
<!-- Set the profile link active in the navbar -->
{% block profile %}active{% endblock %}]

{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid">
  <div class="row g-0">
    <div class="col">
      <div class="auth">
        <h1 class="text-center font-blue">Profile</h1>
        <div class="container mt-5">
          <!-- table to display user information -->
          <table>
            <tr>
              <td class="float-end"><h5 class="font-blue">Username :</h5></td> <td><h5>&ThinSpace;{{ user.username }}</h5></td>
            </tr>
            <tr>
              <td class="float-end"><h5 class="font-blue">Email :</h5></td> <td><h5>&ThinSpace;{{ user.email }}</h5></td>
            </tr>
            <tr>
              <td class="float-end"><h5 class="font-blue">Registered :</h5></td> <td><h5>&ThinSpace;{{ user.date_joined|date:"F j, Y" }}</h5></td>
            </tr>
            <tr>
              <td class="float-end"><h5 class="font-blue">Logged in :</h5></td> <td><h5>&ThinSpace;{{ user.last_login| timesince }}</h5></td>
            </tr>
          </table>
          <div class="text-center">
            <!-- button to trigger edit profile modal -->
          <button type="button" class="btn btn-secondary rounded-pill mt-3" data-bs-toggle="modal" data-bs-target="#editProfileModal">Edit Profile</button>
          </div>
          <!-- Edit profile modal -->
          <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                </div>
                <div class="modal-body">
                  <form method="POST" action="{% url 'profile_view' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                    {% endif %}
                    <div class="modal-footer">
                      <!-- Update or close buttons -->
                      <button class="btn btn-secondary" type="submit">Update</button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Print message if edit profile was succesfull -->
          {% for message in messages %}
          {% if message.extra_tags == 'profile_updated' %}
        <div class="alert alert-success mt-5" role="alert">
          {{ message }}
          <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="close"></button>
        </div>
          {% endif %}
        {% endfor %}
          <!-- Display all user posts if have any with ability to change or delete them -->
          {% if posts %}
          <h3 class="text-center mt-5 mb-3 font-blue">Your blog posts</h3>
          <ul style="padding-left: 0;">
          {% for post in posts %}
          <li>
            <p>{{forloop.counter}}. {{ post.title }} 
              <a href="{% url 'update_post' post.slug %}">(Update)</a>
                 <a href="{% url 'delete_post' post.slug %}"> (Delete)</a>
            </p>
          </li>
          {% if not forloop.last %}
          <li><hr></li>
          {% endif %}
          {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
