{% extends "base.html" %}
{% load static %}
{% block profile %}active{% endblock %}

{% block content %}

<div class="containter">
  <div class="row g-0">
    <div class="col">
      <div class="auth">
        <h1 style="color:#111c79;" class="text-center">Profile</h1>
        <div class="container mt-5">
          <table>
            <tr>
              <td class="float-end"><h3>Username :</h3></td> <td><h4>{{ user.username }}</h4></td>
            </tr>
            <tr>
              <td class="float-end"><h3>Email :</h3></td> <td><h4>{{ user.email }}</h4></td>
            </tr>
          </table>
          {% if posts %}
          <ul style="padding-left: 0;">
          <h3 class="text-center mt-5 mb-3" style="color:#111c79;">Your blog posts</h3>
          {% for post in posts %}
          <li><p>{{forloop.counter}}. {{ post.title }} <a href="{% url 'update_post' post.slug %}">(Update)</a>
                 <a href="{% url 'delete_post' post.slug %}"> (Delete)</a></p></li>
          <hr>
          {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
