<!-- Extend base html and load static files -->
{% extends "base.html" %}
{% load static %}
<!-- Set search link in the navbar active -->
{% block search %}active{% endblock %}
{% block content %}
<div class="container-fluid">
<div class="row g-0">
   <div class="col-12 mt-3 left">
      <!-- display searched query -->
      {% if searched %}
      <h1 class="text-center mt-4 mb-4 font-blue">You searched for: <span class="font-pink">{{ searched }}</span></h1>
      {% if posts %}
      <div class="container">
         <div class="row g-0">
            <!-- display each post searched -->
            {% for post in posts%}
            <div class="box box-shadow mb-4 p-2">
               <div class="row">
                  <div class="col-md-4">
                     <!-- Display featured image of post, or default one if dont have any -->
                     {% if "placeholder" in post.featured_image.url %}
                     <a href="{% url 'post_detail' post.slug %}">
                        <img src="https://c.pxhere.com/photos/3f/47/travel_journal_camera_map_notebook-120138.jpg!d" srcset="https://c.pxhere.com/photos/3f/47/travel_journal_camera_map_notebook-120138.jpg!d" alt="notebook, camera, travel" style="width:100%; height:100%;">
                    </a>
                     {% else %}
                     <a href="{% url 'post_detail' post.slug %}">
                        <img src="{{ post.featured_image.url }}" style="width:100%; height:100%;" alt="{{ post.title }} Image">
                    </a>
                     {% endif %}
                  </div>
                  <div class="col-md-8">
                     <div class="row mb-3">
                        <a href="{% url 'post_detail' post.slug %}">
                           <h2>{{ post.title }}</h2>
                        </a>
                     </div>
                     <div class="row mb-3">
                        <p style="font-size: 0.8em;">
                           {{ post.author }} | {{ post.created_on }} | 
                           <a href="{% url 'category' post.category %}">{{ post.category }} </a>| <i class="fas fa-heart"></i> {{ post.number_of_likes }}  | <i class="fa-regular fa-comment"></i> {{ post.comment_count }} 
                           <!-- Display links to update or delete the post if the user is its author or superuser -->
                           {% if request.user == post.author or request.user.is_superuser %} | 
                           <a href="{% url 'update_post' post.slug %}">
                            (Update)
                            </a>
                            <a href="{% url 'delete_post' post.slug %}">
                            (Delete)
                           </a>
                        </p>
                        {% endif %}
                     </div>
                     <div class="row">
                        <p>{{ post.excerpt }} <a href="{% url 'post_detail' post.slug %}">Read More</a> </p>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Check if the loop is divisivble by 5 -->
            {% if forloop.counter|divisibleby:5 %}
            {% endif %}
            {% endfor %}
            <div class="container">
               <!-- Pagination with buttons to the previous or next page -->
               {% if is_paginated %}
               <nav aria-label="Page navigation">
                  <div class="row g-0">
                     <div class="col">
                        <ul class="pagination">
                           {% if page_obj.has_previous %}
                           <li class="page-item float-start">
                              <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary rounded-pill">
                              <span aria-hidden="true">&laquo; PREV</span>
                              </a>
                           </li>
                           {% endif %}
                     </div>
                     <div class="col-6 text-center">
                        {% for num in page_obj.paginator.page_range %}
                           {% if page_obj.number == num %}
                           <li class="page-item btn btn-secondary rounded-pill active">
                              <a class="page-link" href="?page={{ num }}">{{ num }} <span class="sr-only">(current)</span>
                              </a>
                           </li>
                           {% else %}
                           <li class="page-item btn btn-secondary rounded-pill">
                              <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                           </li>
                           {% endif %}
                        {% endfor %}
                     </div>
                        <div class="col">
                           {% if page_obj.has_next %}
                           <li class="page-item float-end">
                              <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary rounded-pill">
                                 <span aria-hidden="true">NEXT &raquo;</span>
                              </a>
                           </li>
                           {% endif %} 
                        </ul>
                     </div>
                  </div>
               </nav>
               {% endif %}
            </div>
            <!-- display if nothing found -->
            {% else%}
            <h1 class="text-center mt-4 mb-4 font-blue">Nothing found try something else</h1>
            {% endif %}
            <!-- display if search input was empty -->
            {% else %}
            <h1 class="text-center mt-4 mb-4 font-blue">Input empty, try search for posts or authors</h1>
            {% endif %}
         </div>
      </div>
   </div>
</div>
</div>
{% endblock %}